[Desktop Entry]
Comment=Relax-Global Look And Feel
Name=Relax-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Relax-Global
X-KDE-PluginInfo-Version=4.2
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1687607,kns://colorschemes.knsrc/api.kde-look.org/1687605,kns://plasma-themes.knsrc/api.kde-look.org/1687614,kns://icons.knsrc/api.kde-look.org/1687609,kns://icons.knsrc/api.kde-look.org/1687608,kns://aurorae.knsrc/api.kde-look.org/1687604,kns://aurorae.knsrc/api.kde-look.org/1687603,kns://wallpaper.knsrc/api.kde-look.org/1687588,kns://wallpaper.knsrc/api.kde-look.org/1467787,kns://wallpaper.knsrc/api.kde-look.org/1414841,kns://sddmtheme.knsrc/api.kde-look.org/1687602
