[Desktop Entry]
Comment=Relax-Light-Global (Look And Feel)
Name=Relax-Light-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Relax-Light-Global
X-KDE-PluginInfo-Version=7.1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1687605,kns://plasma-themes.knsrc/api.kde-look.org/1692891,kns://icons.knsrc/api.kde-look.org/1687608,kns://aurorae.knsrc/api.kde-look.org/1692869,kns://aurorae.knsrc/api.kde-look.org/1692865,kns://wallpaper.knsrc/api.kde-look.org/1692841,kns://sddmtheme.knsrc/api.kde-look.org/1692861
