[Desktop Entry]
Name=Relax-Blur-Aurorae
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Relax-Blur-Aurorae
X-KDE-PluginInfo-Version=3.5
